{% extends 'todo_list.html' %} {% block content %}
<br />
{% if item %}

<form class="d-flex" role="search" method="POST">
  {% csrf_token %}
  <input
    class="form-control me-2"
    type="search"
    placeholder="{{ item.item }}"
    value="{{ item.item }}"
    aria-label="add"
    name="item"
  />
  <input type="hidden" value="{{ item.completed }}" name="completed" />

  <button class="btn btn-outline-secondary w-25" type="submit">
    Save edit
  </button>
</form>

{% endif %} {% endblock %}
